<h1 style="text-align: center;">WELCOME TO WORKS APP</h1>

<div class="container mt-5">
    <button type="submit" class="btn btn-primary" (click)="CreateWork()">create</button>
    From date:<input type="date" class="ms-2">
    To date:<input type="date" class="ms-2">
    <button class="ms-3" type="submit" class="btn btn-primary">Search</button>
    <hr>
    <table class="table mt-5">
        <tr>
            <th>id</th>
            <th>Title</th>
            <th>Project</th>
            <th>Date</th>
            <th>Work Type</th>
            <th>Work Status</th>
            <th>View</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
        <tbody>
            <tr *ngFor="let item of lst_works">
                <td>{{item.id}}</td>
                <td>{{item.str_title}}</td>
                <td>{{item.fk_project_id_id}}</td>
                <td>{{item.dat_created |date}}</td>
                <td>{{item.fk_type_id_id}}</td>
                <td>{{item.fk_work_status_id_id}}</td>
                <td><svg (click)="ViewWorks(item)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-eye-slash-fill" viewBox="0 0 16 16">
                        <path
                            d="m10.79 12.912-1.614-1.615a3.5 3.5 0 0 1-4.474-4.474l-2.06-2.06C.938 6.278 0 8 0 8s3 5.5 8 5.5a7.029 7.029 0 0 0 2.79-.588zM5.21 3.088A7.028 7.028 0 0 1 8 2.5c5 0 8 5.5 8 5.5s-.939 1.721-2.641 3.238l-2.062-2.062a3.5 3.5 0 0 0-4.474-4.474L5.21 3.089z" />
                        <path
                            d="M5.525 7.646a2.5 2.5 0 0 0 2.829 2.829l-2.83-2.829zm4.95.708-2.829-2.83a2.5 2.5 0 0 1 2.829 2.829zm3.171 6-12-12 .708-.708 12 12-.708.708z" />
                    </svg></td>
                <td><svg (click)="EditWorks(item)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-pencil-fill" viewBox="0 0 16 16">
                        <path
                            d="M12.854.146a.5.5 0 0 0-.707 0L10.5 1.793 14.207 5.5l1.647-1.646a.5.5 0 0 0 0-.708l-3-3zm.646 6.061L9.793 2.5 3.293 9H3.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.207l6.5-6.5zm-7.468 7.468A.5.5 0 0 1 6 13.5V13h-.5a.5.5 0 0 1-.5-.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.5-.5V10h-.5a.499.499 0 0 1-.175-.032l-.179.178a.5.5 0 0 0-.11.168l-2 5a.5.5 0 0 0 .65.65l5-2a.5.5 0 0 0 .168-.11l.178-.178z" />
                    </svg></td>
                <td><svg (click)="DeleteWorks(item)" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
                        fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                        <path
                            d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                    </svg></td>

            </tr>
        </tbody>
    </table>
</div>

<div class="container mt-4" *ngIf="createEditActive">
    <hr>
    <h3>{{FormName}}</h3>
    <app-create-edit-works [edit_create]="CreateEditWork"></app-create-edit-works>
    <button type="submit" class="btn btn-primary mt-3" (click)="closeClick()">close</button>



</div>

<div class="container" *ngIf="ViewActive">
    <hr>
    <app-works-view [ins_work]="ins_work_view"></app-works-view>
    <button type="submit" class="btn btn-primary" (click)="closeClick()">Close</button>
</div>